*
  margin: 0
  padding: 0
body
  // font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, Helvetica, sans-serif;
li
  list-style-type: none;
.fl
  float: left;
.fr
  float: right;

display-flex($flex-flow = row nowrap, $justify-content = flex-start, $align-items = initial, $align-content = initial)
  @media screen and (min-device-width: 320px)
    display: flex
    flex-flow: $flex-flow
    justify-content: $justify-content
    align-items: $align-items
    align-content: $align-content
  @media screen\0
    font-size: 0
    li,>*
      display: inline-block;

row-list($marginLeft= 6px, $justify-content = flex-start, $align-items = initial, $marginBottom = 0)
  display-flex(row wrap,$justify-content,$align-items,center)
  margin-left: - $marginLeft
  >li,>div
    margin-left: $marginLeft
    margin-bottom: $marginBottom

tabs-menu-body($height = 50px,$fontSize = 16px, $bb-li = none, $bl-li = none,  $ml-li = 0, $flex-li= auto, $li-hover = false)
  display-flex(row, flex-start, center,center)
  height: $height
  text-align: center;
  font-size: $fontSize
  li
    border-left: $bl-li
    cursor: pointer;
    position: relative;
    margin-left: $ml-li
    line-height: @height
    flex: $flex-li
    &:first-child
      border-left: 0
      margin-left: 0
    &:after
      border-bottom: $bb-li
      content: ''
      position: absolute;
      bottom: 0
      left: 0;
      width: 100%;
    &.select
      &:after
        border-bottom-color: #999999
  if $li-hover
    li
      &:hover
        &:after
          border-bottom-color: #000

position-fixed($top =0, $left = 0, $right= initial, $bottom = initial)
  position: fixed;
  top: $top
  left: $left
  right: $right
  bottom: $bottom
  width: 100%;

// iconfont()
//   +cache()
//     font-family:"iconfont" !important
//     font-style:normal
//     -webkit-font-smoothing: antialiased
//     -webkit-text-stroke-width: 0.2px
//     -moz-osx-font-smoothing: grayscale
//     // font-size: 16px
// content(n)
//   iconfont()
//   content: n

$size14 =  14px
$color000 = #000
$color333 = #333
$color666 = #666
$color999 = #999
