@import "../../css/_common"
.tabs-nornal
  border: 1px solid #e3e3e3
  width: 90%
  margin: auto
  .tabsMenus
    ul
      tabs-menu-body(50px, 16px, 1px solid #e3e3e3 , 1px solid #e3e3e3, 0, 1)
  .tabsBoxes
    min-height: 200px

//类似楼层 left
.tabs-floor-left
  padding-left: 200px
  .tabsMenus
    border-right: 1px solid #e3e3e3;
    width: @padding-left
    position-fixed()
    li
      border-bottom: @border-right
      height: 40px
      line-height: @height
      text-align: center;
      &.select,&:hover
        color: #f5ab04
  .tabsBoxes
    min-height: 2000px
    >ul>li
      min-height: 500px

//类似楼层 top
.tabs-nornal-top
  .tabsMenus
    position-fixed()
    ul
      background: #fff
      tabs-menu-body(40px, 16px, 1px solid #e3e3e3,1px solid #e3e3e3, 0, 1, true)
  .tabsBoxes
    padding-top: 50px
    width: 100%;
    min-height: 2000px
    >ul>li
      min-height: 500px
