*
  margin: 0
  padding: 0
li
  list-style-type: none;

display-flex($flex-flow = row nowrap, $justify-content = flex-start, $align-items = initial, $align-content = initial)
  @media screen and (min-device-width: 380px)
    display: flex
    flex-flow: $flex-flow
    justify-content: $justify-content
    align-items: $align-items
    align-content: $align-content
  @media screen\0
    font-size: 0
    li,>*
      display: inline-block;

tabs-menu-body($height = 50px,$fontSize = 16px, $bb-li = none, $bl-li = none,  $ml-li = 0, $flex-li= auto, $li-hover = false)
  display-flex(row, flex-start, center,center)
  height: $height
  text-align: center;
  font-size: $fontSize
  li
    border-left: $bl-li
    cursor: pointer;
    position: relative;
    margin-left: $ml-li
    line-height: @height
    flex: $flex-li
    &:first-child
      border-left: 0
      margin-left: 0
    &:after
      border-bottom: $bb-li
      content: ''
      position: absolute;
      bottom: 0
      left: 0;
      width: 100%;
    &.select
      &:after
        border-bottom-color: #999999
  if $li-hover
    li
      &:hover
        &:after
          border-bottom-color: #000

position-fixed($top =0, $left = 0, $right= initial, $bottom = initial)
  position: fixed;
  top: $top
  left: $left
  right: $right
  bottom: $bottom
  width: 100%;


.tabs-nornal
  border: 1px solid #e3e3e3
  width: 90%
  margin: auto
  .tabsMenus
    ul
      tabs-menu-body(50px, 16px, 1px solid #e3e3e3 , 1px solid #e3e3e3, 0, 1)
  .tabsBoxes
    min-height: 200px

//类似楼层 left
.tabs-floor-left
  padding-left: 200px
  .tabsMenus
    border-right: 1px solid #e3e3e3;
    width: @padding-left
    position-fixed()
    li
      border-bottom: @border-right
      height: 40px
      line-height: @height
      text-align: center;
      &.select,&:hover
        color: #f5ab04
  .tabsBoxes
    min-height: 2000px
    >ul>li
      min-height: 500px

//类似楼层 top
.tabs-nornal-top
  .tabsMenus
    position-fixed()
    ul
      background: #fff
      tabs-menu-body(40px, 16px, 1px solid #e3e3e3,1px solid #e3e3e3, 0, 1, true)
  .tabsBoxes
    padding-top: 50px
    width: 100%;
    min-height: 2000px
    >ul>li
      min-height: 500px
